@model Category

@* Tag-Helper Net core permite que asp-for para establecer a que referencia hace de los modelos que tiene en la vista. en un label ademas añade el nombre del valor si el model tiene el displayName*@
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        @*Muestra un listado de los errores dados*@
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row"> 
            <label asp-for="Name" class=" mb-1"></label>
            <input asp-for="Name" type="text" class="form-control bg-white text-black" />
             <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="DisplayOrder" class=" mb-1"></label>
            <input asp-for="DisplayOrder" type="number" class="form-control bg-white text-black" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class=" btn btn-primary" style="width:100%">Create</button>
            </div>
            <div class="col-6 col-md-3">
                 <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:100%">
            Return List
        </a>
            </div>
        </div>
    </div>
</form>